# rake db:seed:22_fill_companies

puts 'Fill C80NewsTz::Company...'

C80NewsTz::Company.delete_all

C80NewsTz::Company.create!([
                               {:id => 1,
                                :title => 'Европа Плюс',
                                :activity_type => 'радиокомпания', 
                                :adress_attributes => {
                                    :locality => 'г. Обнинск', 
                                    :street => 'ул. Вавилова, д. 2', 
                                    :telephone_1 => '+7 903 383 12 10', 
                                    :telephone_2 => '+7 48439 2-23-23', 
                                    :telephone_3 => '', 
                                    :latitude => '55.119538', 
                                    :longitude => '36.643969', 
                                    :email_1 => 'admin@email.ru', 
                                    :email_2 => 'manager@email.ru', 
                                    :site_1 => 'http://www.google.com', 
                                    :site_2 => 'http://www.ya.ru'
                                }, 
                                :desc => '<p>Уравнение малых колебаний интегрирует силовой трёхосный гироскопический стабилизатор. Действительно, время набора максимальной скорости участвует в погрешности определения курса меньше, чем прибор. Время набора максимальной скорости, несмотря на внешние воздействия, отличительно связывает установившийся режим. Ротор, в первом приближении, интегрирует нестационарный подвес, не забывая о том, что интенсивность диссипативных сил, характеризующаяся величиной коэффициента D, должна лежать в определённых пределах. Управление полётом самолёта, несмотря на некоторую погрешность, связывает силовой трёхосный гироскопический стабилизатор. Кожух заставляет перейти к более сложной системе дифференциальных уравнений, если добавить периодический силовой трёхосный гироскопический стабилизатор.</p>'
                               },
                               {:id => 2,
                                :title => 'ПИК',
                                :activity_type => 'строительная компания',
                                :adress_attributes => {
                                    :locality => 'г. Обнинск',
                                    :street => 'ул. Вавилова, д. 2',
                                    :telephone_1 => '+7 903 383 12 10',
                                    :telephone_2 => '+7 48439 2-23-23',
                                    :telephone_3 => '',
                                    :latitude => '55.119538',
                                    :longitude => '36.643969',
                                    :email_1 => 'admin@email.ru',
                                    :email_2 => 'manager@email.ru',
                                    :site_1 => 'http://www.google.com',
                                    :site_2 => 'http://www.ya.ru'
                                },
                                :desc => '<p>Отсутствие трения заставляет перейти к более сложной системе дифференциальных уравнений, если добавить ПИГ. Отсутствие трения, несмотря на некоторую погрешность, вращает периодический стабилизатор. Гиротахометр отличительно характеризует устойчивый подвес. Как уже указывалось, ракета трансформирует момент силы трения. Начальное условие движения мгновенно. Ускорение стабилизирует гиротахометр.</p>'
                               }
                           ])

C80NewsTz::Company::HABTM_Facts.create!([
                                  {company_id: 1, fact_id: 1},
                                  {company_id: 2, fact_id: 2}
                              ])