# rake db:seed:24_fill_notices

puts 'Fill C80NewsTz::Notice...'

C80NewsTz::Notice.delete_all

C80NewsTz::Notice.create!([
                              {id:1,
                               title: 'Почему реакционен гидрохлорид',
                               place: 'Москва, Красная площадь',
                               :adress_attributes => {
                                   :locality => 'г. Обнинск',
                                   :street => 'ул. Вавилова, д. 2',
                                   :telephone_1 => '+7 903 383 12 10',
                                   :telephone_2 => '+7 48439 2-23-23',
                                   :telephone_3 => '',
                                   :latitude => '55.119538',
                                   :longitude => '36.643969',
                                   :email_1 => 'admin@email.ru',
                                   :email_2 => 'manager@email.ru',
                                   :site_1 => 'http://www.google.com',
                                   :site_2 => 'http://www.ya.ru'
                               },
                               :desc => '<p>Уравнение малых колебаний интегрирует силовой трёхосный гироскопический стабилизатор. Действительно, время набора максимальной скорости участвует в погрешности определения курса меньше, чем прибор. Время набора максимальной скорости, несмотря на внешние воздействия, отличительно связывает установившийся режим. Ротор, в первом приближении, интегрирует нестационарный подвес, не забывая о том, что интенсивность диссипативных сил, характеризующаяся величиной коэффициента D, должна лежать в определённых пределах. Управление полётом самолёта, несмотря на некоторую погрешность, связывает силовой трёхосный гироскопический стабилизатор. Кожух заставляет перейти к более сложной системе дифференциальных уравнений, если добавить периодический силовой трёхосный гироскопический стабилизатор.</p>',
                               :company_ids => [1]
                              },
                              {id:2,
                               title: 'Органический растворитель в XXI веке',
                               place: 'г. Обнинск, ДК ФЭИ',
                               :adress_attributes => {
                                   :locality => 'г. Обнинск',
                                   :street => 'ул. Вавилова, д. 2',
                                   :telephone_1 => '+7 903 383 12 10',
                                   :telephone_2 => '+7 48439 2-23-23',
                                   :telephone_3 => '',
                                   :latitude => '55.119538',
                                   :longitude => '36.643969',
                                   :email_1 => 'admin@email.ru',
                                   :email_2 => 'manager@email.ru',
                                   :site_1 => 'http://www.google.com',
                                   :site_2 => 'http://www.ya.ru'
                               },
                               :desc => '<p>Сворачивание препаративно. Волокно индифферентно расщепляет енамин. Возникновение ковалентных связей объясняется тем, что подкисление катализирует синтез. Валентный электрон взвешивает бензол. Мицелла, как того требуют закон Гесса, недостаточна.</p>',
                               :custom_org => 'НПО Технология и aдминистрация города'
                              }
                          ])