<div class="ajax_div">
  <%= render :partial => "shared/news_list",
             :locals => {
                     :news_list => news_list,
                     :is_news_page => is_news_page
             }
  %>
</div>