<div class="ajax_div">
  <%= render :partial => "shared/news_list",
             :locals => {
                     :news_for_render => news_for_render,
                     :news_list => news_list
             }
  %>
</div>